:root{
    --blue: hsl(223, 87%, 63%);
    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);
    --font-family: 'Libre Franklin';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    background-color: white;
    height: 100vh;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    left: 50%;
    margin-top: 50px;
    margin-bottom:50px
}

.header{
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 30px;
    color: var(--gray);
    margin-bottom: 20px
}

.bold-text{
    font-family: var(--font-family);
    font-weight: 700;
    color: black
}

.subscribe{
    font-size: 13px;
    font-family: var(--font-family);
    font-weight: 600;
    color: black;
    margin-bottom: 20px
}

.input{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 50px;
}

.email{
    border: 2px solid var(--pale-blue);
    height: 30px;
    width: 400px;
    padding: 10px;
    font-family: var(--font-family);
    font-weight: 300;
    color: black;
    border-radius: 100px;
    margin-right: 25px
}

.email:invalid{
    border: 2px solid var(--light-red)
    
}



#err-message{
    display: none;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 300;
    color: var(--light-red);
    position: absolute;
    top: 290px;
    left: 27.5%
}


.button{
    cursor: pointer;
    border: 2px solid var(--blue);
    background-color: var(--blue);
    font-family: var(--font-family);
    text-align: center;
    height: 30px;
    width: 150px;
    padding: 10px;
    border-radius: 100px;
    color: white;
    box-shadow: 3px 3px 10px 2px var(--pale-blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.illustration{
    width: 75%;
    margin-bottom: 50px
}

.logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.icon {
    border: 1px solid var(--blue);
    border-radius: 100%;
    width: 3em;
    height: 3em;
    margin: 10px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px
  }

.icon:hover{
    background-color: var(--blue);
    fill: white;
}


svg{
    fill: var(--blue);
    position: relative;
}

svg:hover{
    fill: white;
}

.facebook{
    background-image: url("./SVG/facebook.svg");
}

.facebook:hover{
    background-image: url(./SVG/facebook2.svg);
}

.twitter{
    background-image: url(./SVG/twitter.svg);
}

.twitter:hover{
    background-image: url(./SVG/twitter2.svg);
}

.instagram{
    background-image: url(./SVG/instagram.svg);
}

.instagram:hover{
    background-image: url(./SVG/instagram2.svg);
}


.rights{
    font-family: var(--font-family);
    margin-bottom: 20px
}

.attribution{
    font-family: var(--font-family);
    font-size: 15px
}

@media only screen and (max-width: 750px){
    .input{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    .email{
        margin-bottom: 20px;
        margin-right: 0
    }

    .button{
        width: 400px;
    }

    .illustration{
        margin-bottom: 150px
    }

    .icon{
        width: 2em;
        height: 2em;
        background-size: 20px;
    }

    .rights, .attribution{
        font-size: 12px
    }
}
